<div class="row">
  <div class="col-sm-12">
    <div class="titulo">
      <label class="labelTitulo"> <h1>Datos del yacimiento</h1></label>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-2">
      <mat-form-field class="input1">
        <mat-label>Filas (n) </mat-label>
        <input matInput placeholder="Ex. 1" type="text" [(ngModel)]="n">
      </mat-form-field>
  </div>
  <div class="col-sm-2" >
    <mat-form-field  class="input1">
      <mat-label>Columnas (m) </mat-label>
      <input matInput placeholder="Ex. 1" type="text" [(ngModel)]="m">
    </mat-form-field>
  </div>
  <div class="col-sm-2">
    <mat-form-field  class="input1">
      <mat-label>Tiempo (meses) </mat-label>
      <input matInput placeholder="Ex. 1" type="text" [(ngModel)]="time">
    </mat-form-field>
  </div>
  <div class="col-sm-2">
    <mat-form-field class="input1" >
      <mat-label>Dt (mes) </mat-label>
      <input matInput placeholder="Ex. 1" type="text" [(ngModel)]="dt">
    </mat-form-field>
  </div>
  <div class="col-sm-2">
    <mat-form-field  class="input1">
      <mat-label>Presion inicial (psi) </mat-label>
      <input matInput placeholder="Ex. 1" type="text" [(ngModel)]="presionInicial">
    </mat-form-field>

  </div>
  <div class="col-sm-2">
    <mat-form-field class="input1" >
      <mat-label>Compresibilidad (psi^-1) </mat-label>
      <input matInput placeholder="Ex. 1" type="text" [(ngModel)]="ct">
    </mat-form-field>
  </div>
</div>


<div class="row">
  <div class="col-sm-2" >
    <label class="labelBtn" (click)="mayaData()"> Siguiente</label>
  </div>
</div>
<hr>

<div class="row" *ngIf="maya.length != 0 && !done">
  <div class="col-sm-12" *ngFor="let fila of maya">
    <div class="row" *ngFor="let celda  of fila">
      <div class="col-sm-2 alingCenter" >
        <label > Elemento {{celda.j}} , {{celda.i}}</label>
      </div>
      <div class="col-sm-9 marginLeft" >
        <input class="tableBtn" placeholder="x" type="text" [(ngModel)]="celda.x">
        <input class="tableBtn" placeholder="y" type="text" [(ngModel)]="celda.y">
        <input class="tableBtn" placeholder="h" type="text" [(ngModel)]="celda.h">
        <input class="tableBtn" placeholder="k" type="text" [(ngModel)]="celda.k">
        <input class="tableBtn" placeholder="porosidad" type="text" [(ngModel)]="celda.porosidad">
        <input class="tableBtn" placeholder="viscosidad" type="text" [(ngModel)]="celda.viscosidad">
        <input class="tableBtn" placeholder="fallaIzq" type="text" [(ngModel)]="celda.timenos">
        <input class="tableBtn" placeholder="fallader" type="text" [(ngModel)]="celda.timas">
        <input class="tableBtn" placeholder="¿Hay pozo?" type="text" [(ngModel)]="celda.pozo">
        <input class="tableBtn" *ngIf="celda.pozo && celda.pozo == 's'"  placeholder="p fondo" type="text" [(ngModel)]="celda.pwf">
        <input class="tableBtn" *ngIf="celda.pozo && celda.pozo == 's'&& !celda.tasa || celda.tasa == 'n'"  placeholder="rw" type="text" [(ngModel)]="celda.rw">
        <input class="tableBtn" *ngIf="celda.pozo && celda.pozo == 's'&& !celda.tasa || celda.tasa == 'n'"  placeholder="s" type="text" [(ngModel)]="celda.s">
        <input class="tableBtn" *ngIf="celda.pozo && celda.pozo == 's'" placeholder="¿control tasa?" type="text" [(ngModel)]="celda.tasa">
        <input class="tableBtn" *ngIf="celda.pozo && celda.tasa == 's'"  placeholder="cudal" type="text" [(ngModel)]="celda.cudal">
        <input class="tableBtn" *ngIf="celda.cudal"  placeholder="qi" type="text" [(ngModel)]="celda.qi">
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="row" *ngIf="maya.length != 0">
  <div class="col-sm-2 marginBut" >
    <button *ngIf="!done" class="labelBtn" (click)="simulation()">Iniciar simulacion</button>
  </div>
</div>
<div class="row" *ngIf="done && doneSort">
  <div class="col-sm-12">
    <app-tabs [tabBorder]="'#171717'" [programming]="true" >
      <app-tab *ngFor="let day of sortRes; let i= index" [label]="'Mes ' + (i +1)">
        <div class="marginTB">
          <div *ngFor="let celda of day">
            <div class="row">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-4">
                <strong> celda ({{celda.index}}) </strong>
              </div>
              <div class="col-sm-6">
                <label > tiene una presión = <strong>{{celda.result}}</strong> </label>
              </div>
            </div>
          </div>
        </div>
      </app-tab>
    </app-tabs>
  </div>
</div>
<hr>
<div class="grafica" *ngIf="done">
  <div class="flex">
    <div class="flex-item">
      <div style="display: block;">
      <canvas baseChart width="200" height="200"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>

</div>
