<div class="row">
  <div class="col-sm-12">
    <div class="photoBackGround">
      <div class="row">
        <div class="col-sm-4">
          <div class="btnModule" [routerLink]="['/platform/simulation']">
            Modelo de simulación básico establecido
          </div>
        </div>
        <div class="col-sm-4">
          <div class="btnModule" [routerLink]="['/platform/modules']">
            Simulación para malla de dimesion <strong>n x n </strong> (hasta 10x10)
          </div>
        </div>
        <div class="col-sm-4">
          <div class="btnModule" [routerLink]="['/platform/modules']">
            Simulación para malla de dimesion<strong> n x m </strong> (hasta 10x10)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="centerTitle">
      <strong>
          Descripcion de modulos
      </strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="centerText">
      <strong>
        Modulo 1
      </strong>
      <br>
      <p>aqui se pone la descripcion del modulo uno</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="centerText">
      <strong>
        Modulo 2
      </strong>
      <br>
      <p>aqui se pone la descripcion del modulo dos</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="centerText">
      <strong>
        Modulo 3
      </strong>
      <br>
      <p>aqui se pone la descripcion del modulo tres</p>
    </div>
  </div>
</div>
