
  <div class="row">
    <div class="col-sm-12">
      <div class="photoBackGround">
          <span [routerLink]="['/simulation']">
            Iniciar simulacion
          </span>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="centerTitle">
      <strong>
          Descripcion del proyecto
      </strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="centerText">
      <p>Simulador numérico de dos dimensiones, en coordenadas cartesianas con capacidad máxima de discretización  de 1000 celdas. Modelamiento de yacimientos heterogéneos de blackoil con flujo monofásico.</p>
    </div>
  </div>
</div>
